#parse("/views/task/comment.vm")

#macro(commentBlock $comment)
<ul class="list-group">
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="fas fa-user-circle"></i> $comment.getCreatedBy().getName()</h5>
            <small>
                $comment.getFormattedCreatedIn()
                <button class="btn btn-outline-dark btn-sm" type="button"><i class="fa fa-reply"></i></button>
            </small>
        </div>        
        <p class="mb-1">$comment.getContent()</p>
        #foreach($child in $comment.getChildren())
            #commentBlock($child)
        #end
    </li>
</ul>
#end