#macro(taskList $tasks)
<table class="table table-striped" data-toggle="table" data-search="true" data-show-columns="true">
    <thead>
    <tr>
        <th data-sortable="true">#</th>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Status</th>
        <th data-sortable="true">Project</th>
        <th data-sortable="true">Responsible</th>
        <th data-sortable="true">Created In</th>
        <th data-sortable="true">Updated In</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        #foreach($task in $tasks)
        <tr>
            <td>$task.getTaskId()</td>
            <td>$task.getName()</td>
            <td>$task.getCurrentStatus().name()</td>
            <td>$task.getProject().getName()</td>
            <td>$task.getResponsible().getName()</td>
            <td>$task.getFormattedCreatedIn()</td>
            <td>$task.getFormattedUpdatedIn()</td>
            <td>
                <a class="btn btn-outline-dark btn-sm" href="/tasks/view/$task.getTaskId()/"><i class="fas fa-file-alt"></i></a>
                <a class="btn btn-outline-dark btn-sm" href="/tasks/delete/$task.getTaskId()/"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        #end
    </tbody>
</table>
#end