#parse("/views/layout.vm")
#@mainLayout()
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">$task.getName()</h1>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header"><i class="fas fa-file-alt"></i> Description</div>
            <div class="card-body">
                <span class="float-right"><button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#modalEditDescription"><i class="fa fa-pencil"></i></button></span>
                <p class="card-text">$task.getDescription()</p>
            </div>
        </div>
        <form action="/comments/" method="post">
            <input type="hidden" value="$task.getTaskId()" name="taskId">
            <div class="card">
                <div class="card-header"><i class="fas fa-comment-medical"></i> New Comment:</div>
                <div class="card-body">
                    <div class="form-group">
                        <textarea type="text" class="form-control form-control-lg" name="content"></textarea>
                    </div>
                    <div class="float-right">
                        <button class="btn btn-success"><i class="fa fa-plus"></i> Comment</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-header"><i class="fas fa-comments"></i> Comments</div>
            <div class="card-body">
                #foreach($comment in $task.getComments())
                    <div class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><i class="fas fa-user-circle"></i> $comment.getCreatedBy().getName()</h5>
                                <small>$comment.getFormattedCreatedIn()</small>
                            </div>
                            <p class="mb-1">$comment.getContent()</p>
                        </li>
                    </div>
                #end
            </div>
        </div>
    </div>
    <div class="col md-3">
        <div class="card">
            <div class="card-header"><i class="fas fa-info"></i> Details</div>
            <div class="card-body">
                <p class="card-text"><strong><i class="fas fa-project-diagram"></i> Status:
                </strong>$task.getCurrentStatus().name()</p>
                <p class="card-text"><strong><i class="fas fa-user-tag"></i> Responsible :
                </strong>$task.getResponsible().getName()</p>
                <p class="card-text"><strong><i class="fas fa-folder-open"></i> Project :
                </strong>$task.getProject().getName()</p>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalEditDescription">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/tasks/description/$task.getTaskId()/" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Description</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea type="text" class="form-control form-control-lg" name="description">$task.getDescription()</textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"><i class="fa fa-pencil"></i> Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
#end